.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.Header{
  flex: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header .inputcontainer{
  display: flex;
  flex-direction: column;
}

.Header input{
  width: 200px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  font-size: 17px;
  
}
